@import 'src/styles/vars';

#signupView {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#signup {
  &-form {
    width: 40%;
    margin: 20px auto;
    padding: 2em;

    &-title {
      margin-bottom: 1em;
      text-align: center;
      font-size: 1.3em;
      font-weight: 700;
    }
    
    &-buttons {
      display: flex;
      justify-content: center;
    }

    &-errors {
      margin-bottom: 15px;
    }

    &:hover {
      box-shadow: 0 5px 1em rgba(68, 74, 81, 0.3);
    }
  }

  @media (max-width: 900px) {
    &-form {
      width: 80%;
    }
  }

  @media (max-width: 600px) {
    &-form {
      width: 95%;
    }
  }
}
