@import 'src/styles/vars';

@media (min-width: 901px) {
  #newproject {
    width: 80vw;
    float: right;
    height: 100vh;
    padding: 2.5em;
    &-form {
      width: 50%;
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 1em auto;
      font-size: 1.2em;
    }
    &-title, &-description, &-date, &-destination, &-participants {
      display: flex;
      justify-content: space-between;
      padding-bottom: 2em;
    }
    &-banner {
      padding-bottom: 5em;
    }
  }
  .input, #description-input {
    width: 70%;
  }
  .input-date {
    width: 35%;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  #newproject {
    width: 80%;
    float: right;
    height: 100%;
    padding: 2.5em;
      &-form {
      width: 80%;
      display: flex;
      flex-direction: column;
      font-size: 1.5em;
      margin: 0.5em auto;
      }
      &-title, &-description, &-dates, &-destination, &-participants {
      padding-bottom: 2em;
      }
      &-banner {
        text-align: center;
        padding-bottom: 1.5em;
      }
  }
  .input {
    width: 100%;
  }
}

@media (max-width: 600px) {
  #newproject {
    width: 100%;
    padding: 2em;
    text-align: center;
    &-form {
      display: flex;
      flex-direction: column;
      margin: 1em auto;
      font-size: 1.2em;
    }
    &-title, &-description, &-dates, &-destination, &-participants {
      padding-bottom: 2em;
    }
    &-date {
      display: flex;
      flex-direction: column;
    }
  }
  .input {
    width: 95%;
  }
  
}
#newproject {
  background: $background-main-color;
  color: $font-color;
}
#newproject-button {
  background-color: $button-color;
  color: $font-color;
  width: 100%;
}
