@import 'src/styles/vars';

#projects {
  width: calc(100vw - 300px);
  float: right;
  min-height: 100vh;
  padding: 2em 5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $background-main-color;
  color: $font-color;

  &-cards {
    padding: 2em;
    display: flex;
    width: 90%;
    align-self: center;
    justify-content: center;
  }
}

#toast-alert {
  margin: 0;
}

.project-card {
  min-height: 200px !important;
  position: relative;

  &-title {
    color: $card-title-color;
  }
}

// Notification red icon

#notification {
  width: 20px;
  height: 20px;
  text-align: center;
  font-weight: 600;
  background-color: red;
  border-radius: 50% !important;
  color: #fff;
  position: absolute;
  top: -10px;
  right: -10px;
}
