@import 'src/styles/vars';

#projects {
  &-invitations {
    border-radius: 5px;
    padding: 2em 3em;
    margin: 2em auto;
    width: fit-content;
    background-color: $section-bg-color;
    box-shadow: 0 5px 1em rgba(68, 74, 81, 0.3);

    &__title {
      font-weight: 600;
      color: $h2-color;
    }
  }
  
  &-information {
    text-align: center;
    font-size: 2rem;
  }

  &-cards {
    padding: 2em;
    display: flex;
    width: 90%;
    align-self: center;
    justify-content: center;
  }
}

#toast-alert {
  margin: 0;
}

.project-card {
  min-height: 200px !important;
  position: relative;

  &__title {
    color: $font-color;
  }
}

.projects-invitation {
  margin: 1em 0;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;

  &__title {
    padding: 1em;
    min-width: 400px;
    width: fit-content;
    border-radius: 4px;
    background-color: $main-bg-color;
    font-size: 1.3em;
    font-weight: 600;
  }

  &__button {
    width: fit-content;
    margin-left: 1em;
    padding: .6em;
    border-radius: 4px;
    box-shadow: 0 10px 1em rgba(68, 74, 81, 0.3);
    background-color: $button-accept-bg-color;
    color: $button-text-color;
    font-weight: 600;
    font-size: 1.2em;

    &--accept {
      background-color: $button-accept-bg-color;
    }

    &--decline {
      background-color: $button-decline-bg-color;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
