@import 'src/styles/vars';

#projects {
  &-invitations {
    border-radius: 5px;
    padding: 2em 3em;
    margin: 2em auto;
    width: fit-content;
    background-color: $section-bg-color;
    box-shadow: 0 5px 1em rgba(68, 74, 81, 0.3);

    &__title {
      font-weight: 600;
      color: $h2-color;
    }
  }
  
  &-information {
    text-align: center;
    font-size: 2rem;
  }

  &-cards {
    padding: 2em;
    display: flex;
    width: 90%;
    align-self: center;
    justify-content: center;
  }
}

#toast-alert {
  margin: 0;
}

.projects-invitation {
  margin: 1em 0;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;

  &__title {
    padding: 1em;
    min-width: 400px;
    width: fit-content;
    border-radius: 4px;
    background-color: $main-bg-color;
    font-size: 1.3em;
    font-weight: 600;
  }

  &__button {
    width: fit-content;
    margin-left: 1em;
    padding: .6em;
    border-radius: 4px;
    box-shadow: 0 10px 1em rgba(68, 74, 81, 0.3);
    background-color: $button-accept-bg-color;
    color: $button-text-color;
    font-weight: 600;
    font-size: 1.2em;

    &--accept {
      background-color: $button-accept-bg-color;
    }

    &--decline {
      background-color: $button-decline-bg-color;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.project-card {
  min-height: 325px;
  min-width: 275px;
  width: 275px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 10px;
  margin: 1.5em;

  &-header, &-main, &-footer {
    padding: .75rem;
  }

  &-header {
    border-bottom: 1px solid #EBEBEB;
    height: fit-content;

    &__title {
      font-size: 1.3rem;
      font-weight: 600;
      color: $font-color;
      display: block;
      text-align: center;
      padding: .3em .5em;

      &:hover {
        color: rgb(22, 42, 80);
      }
    }
  }

  &-main {
    &__title {
      font-size: 1rem;
      margin: .75em;
      color: $project-card-main-color;
    }

    &__content {
      color: $project-card-main-color;
    }
  }
}
