@import 'src/styles/vars';

#add-participants {
  &-form {
    width: 350px;
    margin: 2em auto;
  }

  &-section {
    &__title {
      margin: 1em 0 1.5em;
      font-weight: 600;
      text-align: center;
    }

    &__container {
      display: flex;
      justify-content: space-around;
      flex-wrap: nowrap;

      &--confirmed, &--pending {
        width: 50%;
        height: auto;
        text-align: center;
        margin-bottom: 2em;
      }

      &--confirmed h3, &--pending h3 {
        text-decoration: underline;
        margin-bottom: 1.8em;
      }

      &--confirmed {
        border-right: 1px solid $main-border-color;
      }
      
      &-list {
        text-align: center;
        width: fit-content;
        min-width: 200px;
        margin: auto;
        font-size: 1.3em;
      }
    }
  }
}
