@import 'src/styles/vars';

#addParticipants {
  &-form {
    width: 40%;
    margin: 3em auto 5em; 

    &__errors {
      margin-bottom: 15px;
    }
  }

  &-section {
    &__title {
      margin: 1em 0 1.5em;
      font-weight: 600;
      text-align: center;
    }

    &__container {
      display: flex;
      justify-content: space-around;
      flex-wrap: nowrap;

      &--confirmed, &--pending {
        width: 50%;
        height: auto;
        text-align: center;
        margin-bottom: 4em;
      }

      &--confirmed h3, &--pending h3 {
        text-decoration: underline;
        margin-bottom: 1.8em;
      }

      &--confirmed {
        border-right: 1px solid lightgrey;
      }
      
      &-list {
        text-align: left;
        width: fit-content;
        min-width: 200px;
        margin: auto;
      }
    }
  }
}

.addParticipants-form__input {
  min-width: 200px;
}
