# Dependencies installed folder
node_modules/

# Dist production folder
dist/

# Environnement variables file
.env

# VS Code files
.vs/
.vs-code/

# Mac OS system file
.DS_Store

# Windows system file
Thumbs.db

# Yarn error log file
yarn-error.log
