@import 'src/styles/vars';

#footer {
  font-family: 'Permanent Marker', sans-serif;
  height: 150px;
  background-color: $footer-bg-color;
  font-size: 1.6em;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-copyright, &-social {
    text-align: center;
  }
}
