@import 'src/styles/vars';

#footer {
  height: 100px;
  background-color: $footer-bg-color;
  color: $footer-text-color;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-copyright, &-social {
    text-align: center;
  }
}
