@import 'src/styles/vars';

#suggestions {
  &-form {
    width: 60%;
    min-width: 500px;
    max-width: 600px;
    margin: 0 auto;
    padding: 2em;

    &-header {
      display: flex;
      justify-content: space-between;
      padding: .8em 0;
      margin-bottom: 1em;
      border-bottom: 1px solid lightgray;
      align-items: center;

      &__title {
        margin: auto;
        margin-right: 20px;
        font-size: 1.2rem;
        font-weight: 600;
        width: 70%;
        color: $font-color;
      }

      &__options {
        width: 30%;
      }
    }

    &-inputs {
      width: 60%;
    }

    &-errors {
      margin: 15px 0;
    }
  }

  &-ideas {
    width: 80%;
    margin: auto;

    &__title {
      font-size: 1.5em;
      font-weight: 600;
      margin: 30px 0;
      text-transform: uppercase;
    }

    &__cards {
      margin: 2em 0;
    }
  }
}

.card {
  &-fit-content {
    max-height: fit-content;
  }

  &-votes {
    color: black;
    padding: 0 0 .6em;
  }

  &-icons {
     &-heart {
      cursor: pointer;
      width: 30px;
      height: auto;

      &--active {
        color: #FF0000;
      }
    }
  }
}

@media (max-width: 600px) {
  #suggestions {
    padding: 2em 2em 2em 0em;
    &-form {
      &-header {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;

        &-title {
          text-align: center;
        }
      }
    }
  }
}
