@import 'src/styles/vars';

#suggestions {
  &-form {
    &-header {
      display: flex;
      justify-content: space-between;
      padding: .5em 0;
      margin-bottom: 1em;
      align-items: center;

      &__title {
        margin-block-start: 0;
        padding: 0;
        margin: 0 20px 0 0;
        font-size: 1.4rem;
        font-weight: 600;
        width: 70%;
        color: $black;
      }
    }

    &-inputs {
      width: 60%;
    }

    &-errors {
      margin: 15px 0;
    }
  }

  &-ideas {
    width: 90%;
    height: auto;
    margin: 0 auto 2em;

    &__title {
      margin-bottom: 2em;
      font-size: 1.5em;
      font-weight: 600;
      text-transform: uppercase;
    }

    &__cards {
      margin: 2em 0;
    }
  }
}

.card {
  &-fit-content {
    max-height: fit-content;
  }

  &-votes {
    color: $black;
    padding: 0 0 .6em;
  }

  &-icons {
     &-heart {
      cursor: pointer;
      width: 30px;
      height: auto;

      &--active {
        color: $red-pink;
      }
    }
  }
}

