@import 'src/styles/vars';

#addParticipants {
  width: 80vw;
  float: right;
  min-height: 100vh;
  padding: 2.5em;
  background: $background-main-color;
  color: $font-color;

  &-banner {
    margin: 0 2em 2em 2em;
  }

  &-form {
    width: 40%;
    margin: 5em auto 7em; 

    &-errors {
      margin-bottom: 15px;
    }
  }

  &-participants {
    &-title {
      margin: 1.5em 0 2em;
      font-weight: 600;
      text-align: center;
    }

    &-container {
      display: flex;
      justify-content: space-around;
      flex-wrap: nowrap;

      &-confirmed, &-pending {
        // border: 1px solid black;
        width: 50%;
        height: 200px;
        text-align: center;
        margin-bottom: 4em;
      }

      &-confirmed h3, &-pending h3 {
        text-decoration: underline;
        margin-bottom: 1.8em;
      }

      &-confirmed {
        border-right: 1px solid lightgrey;
      }
      
      &-list {
        text-align: left;
        width: fit-content;
        margin: auto;
      }
    }
  }
}
