@import 'src/styles/vars';

.auth-header {
  --text: #0A1D37;
  --text-inverse: #E4E9ED; 
  --background: #FBFCFC;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 3em;
  transition: background 250ms ease-in;
  background: var(--background);
  color: var(--text);
  border-bottom: 1px solid #e4e4e4;
  
  &__logo {
    width: fit-content;
    font-size: 2rem;
    font-weight: 800;
    color: var(--text);

    &:hover {
      color: var(--text);
    }
  }
}

.auth-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.auth-nav__link {
  --spacing: 1em;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: calc(var(--spacing) / 2) var(--spacing);
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: var(--spacing);
    right: var(--spacing);
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transition: transform 150ms ease-in-out;
  }

  &:hover::after {
    transform: scaleX(1);
  }

  &--btn {
    border: 1.5px solid currentColor;
    border-radius: 2em;
    margin-left: 1em;
    transition: background 250ms ease-in-out;
    letter-spacing: 1px;
    padding: 0.75em 1.5em;

    &:hover {
      background: var(--text);
      color: var(--text-inverse);
      border-color: var(--text);
    }

    &::after {
      display: none;
    }

    &--highlight {
      background: $red-pink;
      border-color: $red-pink;
      color: #FFF;

      &:hover {
        background: var(--text);
        border-color: var(--text);
      }
    }
  }
}
