@import 'src/styles/vars';

#availability {
  width: 80vw;
  min-height: 100vh;
  float: right;
  padding: 2em 5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $background-main-color;
  color: $font-color;
  
  &-banner, &-content, &-button {
    padding-bottom: 2.3em;
  }

  &-main {
    width: 80%;
    margin: auto;
  }

  &-content, &-checkbox {
    text-align: center;
  }

  &-content h2 {
    font-size: 2em;
  }

  &-checkbox {
    margin: 2em;
  }
  
  &-buttons {
    display: flex;
    flex-direction: column;
  }
}

.availability-button {
  margin: .8em auto;
  padding: .5em .8em;
  width: fit-content;
  border: none;
  border-radius: 15px;
  background: $button-bg-color;
  color: $button-text-color;
  font-size: 1.5em;
  box-shadow: 0 5px $button-shadow-color;

  &--selected {
    background: $button-active-color;
  }

  &:active {
    box-shadow: 0 5px $button-shadow-color;
    transform: translateY(1px);
  }
}
