@import 'src/styles/vars';

#availability {  
  &-section {
    width: 600px;
    font-size: 1.2rem;

    &__title {
      margin-bottom: 2em;
      text-align: left;
    }

    &__content {
      text-align: center;
      width: 80%;
      margin: 0.5em auto 2em;
      font-size: 1.3rem;
    }
  }
}

/* Single dates button
============================= */

.availability__button {
  background: linear-gradient(to right, #2980b9, #6dd5fa);
  font-weight: 600;
  margin: 1em auto;
  padding: .5em;
  width: fit-content;
  border-radius: 5px;
  color: $button-text-color;

  &:hover {
    cursor: pointer;
  }

  &--selected {
    background: linear-gradient(to right, #11998e, #38ef7d);
  }
}


/* Media queries
============================= */


@media (max-width: 600px) {
  #availability {  
    &-section {
      width: 350px;

      &__title {
        text-align: center;
      }
  
      &__content {
        text-align: center;
        width: 80%;
        margin: 0.5em auto 2em;
        font-size: 1.3rem;
      }
    }
  }
}
