@import 'src/styles/vars';

#availability {  
  &-section {
    width: fit-content;

    &__title {
      font-size: 1.6rem;
      margin-bottom: 1.9em;
      font-weight: 400;
      text-align: center;
    }

    &__content {
      text-align: center;
      margin: 0.5em auto 2em;
      font-size: 1.3rem;
    }
  }
}

/* Single dates button
============================= */

.availability__button {
  background: $light-grey;
  font-size: 1.4rem;
  opacity: .8;
  margin: 1em auto;
  padding: 1em;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 5px;
  color: $black;

  &:hover {
    cursor: pointer;
  }

  &--selected {
    background: hsla(132, 100%, 50%, 0.5);
  }
}


/* Media queries
============================= */

@media (max-width: 600px) {
  #availability {  
    &-section {
      &__title {
        margin-bottom: 1.7em;
        font-size: 1.5rem;
      }
  
      &__content {
        text-align: center;
        margin: 0.5em auto 2em;
        font-size: 1.3rem;
      }
    }
  }

  .availability__button {
    font-size: 1.2rem;
    margin: 1em auto;
    padding: 1em;
    width: 260px;
  }
}
