@import 'src/styles/vars';

#projectDetails {
  width: 80vw;
  float: right;
  min-height: 100vh;
  padding: 2em 5em;
  background: $background-main-color;
  color: $font-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  &-header {
    height: fit-content;
    margin-top: 3em;
    display: flex;
    justify-content: space-between;

    &-left, &-right {
      width: 45%;
      margin-bottom: 2em;
    }

    &-left {
      min-height: 250px;
      &-map {
        height: 90%;
      }
    }

    &-right {
      &-participants-list {
        width: 50%;
        margin-left: 50px;
        margin-bottom: 20px;
      }

      &-dates {
        width: auto;
        font-size: 1.5em;
        border: solid 1px $font-color;
        background: $project-dates-bg-color;
        border-radius: 5px;
        padding: .5em 1em;
        font-weight: bold;
        margin-left: 3em;
        text-align: center;
        display: inline-block;
      }
    }
  }

  &-suggestions {
    &-activity, &-accomodation, &-transport, &-restaurant, &-others {
      margin: 1.5em 0;
    }
  }
}

.suggestion {
  &-message {
    margin-left: 2em;
    font-size: 1.2em;
  }

  &-card {
    margin: 1em !important;
  }
}

@media (max-width: 900px) {
  #projectDetails {
    
    &-header {
      flex-wrap: wrap;

      &-left, &-right {
        width: 100%;
      }
    }
  }
}
