// CSS vars

// Main-colors
$red-pink: #EF3265;
$navy-blue: #0A1D37;

// Fonts
$font-color: #000;
$main-bg-color: #FFF;
$section-bg-color: #F7F9F9;
$info-block-border-color: #1D2940;

// Navigation
$navigation-border-bottom-color: #34495E;
$navigation-border-right-color: #ABB2B9;
$navigation-bg-color: rgb(239, 241, 243);
$navigation-font-color: #000;
$navigation-font-color-hover: rgb(22, 42, 80);
$navigation-separator-color:#FFF;
$navigation-avatar-circle-border-color: #FFF;
$navigation-link-bg-color-hover: #FFF;
$navigation-project-link-border-left-hover: #ff3366;

// Buttons
$button-text-color: #FFF;
$button-accept-bg-color: rgb(63, 240, 137);
$button-decline-bg-color: #FF0000;

$asterisk-color: #FF0000;

// User-view
$user-title-border-left: #ff3366;

// Project-card
$project-card-main-color: #484848;
