// CSS vars

// Title;
$h1-color: #2E4053;

// Fonts
$font-color: #000;

$header-bg-color: #E4E9ED;
$footer-bg-color: #E4E9ED;
$main-bg-color: #FFF;
$section-bg-color: #F7F9F9;

// Navigation
$navigation-border-bottom-color: #34495E;
$navigation-border-right-color: #ABB2B9;
$navigation-bg-color: #E4E9ED;
$navigation-font-color: #000;
$navigation-font-color-hover: #34495E;
$navigation-separator-color:#FFF;
$navigation-avatar-circle-border-color: #FFF;
$navigation-link-bg-color-hover: #FFF;
$navigation-project-link-border-left-hover: hsla(132, 100%, 50%, 0.5);

// Buttons
$button-text-color: #FFF;
$button-accept-bg-color: #58D68D;
$button-decline-bg-color: #E74C3C;
