@import 'src/styles/vars';

#app {
  width: 100%;
  min-height: 100vh;
  font-family: 'PT Sans', sans-serif;
  background-color: $main-bg-color;
}

h1, h2 {
  font-weight: 700;
}

.asterisk {
  color: $asterisk-color;
}


/* Buttons
============================= */


.button {
  border-radius: 50px;
  color: $button-text-color;
  margin: auto;
  font-weight: 700;
  text-align: center;
  box-shadow: 0 10px 1em rgba(68, 74, 81, 0.3);
  transform: scale(1);
  transition: transform ease-in-out 250ms;
  
  &--large {
    margin: 1.5em auto;
    padding: 1em 1.5em;
    width: 280px;
    height: 65px;
    border-radius: 50px;
    font-size: 1.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &--circular {
    width: 50px;
    height: 50px;
  }
  
  &__icon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    color: $button-text-color;
  }
  
  &-add-participants {
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
  }
  
  &-suggest-dates {
    background: linear-gradient(to right, #f12711, #f5af19);
  }
  
  &-create-project {
    background: linear-gradient(to right, #009fff, #ec2f4b);
    grid-area: section-2;
  }
  
  &-add {
    position: relative;
    background: linear-gradient(to top, #ff416c, #ff4b2b);
    align-self: flex-end;
  }
  
  &-invitation {
    color: $font-color;
    width: 250px;
    text-align: center;
    
    &:hover {
      color: $font-color;
    }
  }
}

.button p {
  margin: auto;
}


/* Form
========================== */


.form {
  &__container {
    width: 450px;
    margin: 2.5em auto 0;
    position: relative;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  &__button {
    all: unset;
    box-sizing: border-box;
    width: fit-content;
    margin: .2em 0;
    padding: .6em 1em;
    border-radius: 4px;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    box-shadow: 0 8px 1em rgba(68, 74, 81, 0.3);
    transition: transform ease-in-out 250ms;

    &--right {
      position: absolute;
      right: 0;
    }

    &--red {
      background-color: $red-pink;
      color: #FFF;
    }

    &--blue {
      background-color: $navy-blue;
      color: #FFF;
    }
    
    &--grey {
      background-color: #F8F9F9;
      color: #000;
    }

    &:hover {
      transform: scale(1.04);
    }
  }

  /* Form error */

  &__error {
    padding: .5em;
    margin: .5em 0;
    color: #484848;
    font-size: 1.2rem;
    border: 1px solid #484848;
    border-radius: 3px;
  }
}

/* Field */

.field {
  width: 100%;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: .2em;
    width: fit-content;
    cursor: default;
  }

  &__input {
    all: unset;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: .6em;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 4px;
    color: #484848;
    font-size: 1.1rem;

    &:focus {
      border-color: #5D6D7E;
    }
  }
}


/* User view
========================== */


.user {
  &-container {
    width: calc(100vw - 300px);
    height: 100vh;
    float: right;
    display: grid;
    padding: 1.750em;
    grid-template-columns: 50px auto 50px;
    grid-template-rows: 40px auto auto 65px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas: 
    "burger-menu title ."
    ". section-1 ."
    ". section-2 ."
    ". footer .";

    &--fullscreen {
      width: 100vw;
    }

    &__menu {
      grid-area: burger-menu;
      display: flex;
      align-self: stretch;
      justify-self: stretch;
      cursor: pointer;
      opacity: 0;

      &--appear {
        opacity: 1;
      }
    }

    &__banner {
      grid-area: title;
      position: relative;
      border-left: 5px solid $user-title-border-left;
      align-self: center;

      & > h1 {
        height: 100%;
        padding-left: .75em;
        font-size: 2.2rem;
      }
    }

    &__main {
      justify-self: center;
      align-self: center;
      grid-column: 2 / span 1;
      grid-row: 2 / span 2;
    }

    &__section-1 {
      justify-self: center;
      align-self: center;
      grid-area: section-1;
    }

    &__section-2 {
      align-self: center;
      grid-area: section-2;
    }

    &__footer {
      grid-area: footer;
    }
  }

  &-section {
    &__title {
      margin-bottom: .9em;
    }
  }
}

/* Burger menu icon */

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  margin: auto;
  background: $font-color;
  height: 4px;
  width: 2em;
  border-radius: 3px;
}

.hamburger::before {
  transform: translateY(-8px);
}

.hamburger::after {
  transform: translateY(4px);
}


/* Media queries
============================= */

/* User View with burger menu */

@media (max-width: 1100px) {
  .user {
    &-container {
      grid-template-areas: 
      "burger-menu title ."
      "section-1 section-1 section-1"
      "section-2 section-2 section-2"
      ". footer .";

      &__banner > h1 {
        font-size: 2rem;
      }

      &__main {
        justify-self: center;
        align-self: center;
        grid-column: 1 / span 3;
        grid-row: 2 / span 2;
      }

      &__section-1,
      &__section-2 {
        margin: 0 1em;
      }
    }
  }
}

/* User View with navigation without burger menu */

@media (min-width: 1100px) {
  .user {
    &-container {
      display: grid;
      grid-template-columns: 20px auto 20px;
      grid-template-rows: 40px auto auto 65px;
      grid-column-gap: 15px;
      grid-row-gap: 15px;

      &__menu {
        display: none;
      }
    }
  }
}
