@import 'src/styles/vars';

#app {
  width: 100%;
  min-height: 100vh;
  font-family: 'PT Sans', sans-serif;
  background-color: $white;
}


/* Fonts
========================== */


h1, h2 {
  font-weight: 700;
}

.asterisk {
  color: $asterisk-color;
}

.bold {
  font-weight: 700;
}


/* Buttons
========================== */

/* Button class added to NavLink element */

.button {
  margin: auto;
  font-weight: 700;
  text-align: center;
  box-shadow: 0 10px 1em $main-box-shadow-color;
  transform: scale(1);
  transition: transform ease-in-out 250ms;

  /* === Button types === */
  
  &--large {
    margin: .5em auto;
    padding: 1em;
    width: 250px;
    height: auto;
    border-radius: 50px;
    font-size: 1.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &--circular {
    width: 50px;
    height: 50px;
    border-radius: 50px;

    &__icon {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    color: $white;
  }

  .button p {
    margin: auto;
  }

  /* Custom buttons (colors + special properties) */
    
  &-new-project {
    background: linear-gradient(to right, #009fff, #ec2f4b);
    color: $white;
    grid-area: section-2;
  }
  
  &-suggest-dates {
    background: linear-gradient(to right, #f12711, #f5af19);
    color: $white;
  }

  &-add-participants {
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    color: $white;
  }

  &-add-dates {
    background: linear-gradient(to top, #ff416c, #ff4b2b);
    color: $white;
    position: relative;
    align-self: flex-end;
  }
  
  &-invitation {
    color: $black;
    width: 250px;
    text-align: center;
    
    &:hover {
      color: $black;
    }
  }
}


/* Form
========================== */


.form {
  &__container {
    width: 100%;
  }

/* === Form title === */

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  /* === Form buttons ===
   * Selectors added to <button> HTML element
   */

  &__button {
    -moz-appearance: none;
    -webkit-appearance: none;
    all: unset;

    box-sizing: border-box;
    width: fit-content;
    margin: .2em;
    padding: .6em 1em;
    border-radius: 4px;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    box-shadow: 0 8px 1em $main-box-shadow-color;
    transition: transform ease-in-out 250ms;
    cursor: pointer;

    /* Form button position */

    &--left {
      float: left;
    }

    &--right {
      float: right;
    }

    /* Form button color */

    &--red {
      background-color: $red-pink;
      color: $white;
    }

    &--blue {
      background-color: $navy-blue;
      color: $white;
    }
    
    &--grey {
      background-color: $light-grey;
      color: $black;
    }

    &:hover {
      transform: scale(1.04);
    }
  }

  /* === Form errors === */

  &__error {
    padding: .5em;
    margin: .5em 0;
    color: #484848;
    font-size: 1.2rem;
    border: 1px solid #484848;
    border-radius: 3px;
  }
}

/* === Form Fields (label + input === */

.field {
  width: 100%;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;

  /* Field label */

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: .2em;
    width: fit-content;
    cursor: default;
  }

  /* Field input && textarea */

  &__input {
    all: unset;    
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: .6em;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 4px;
    color: #484848;
    font-size: 1.1rem;

    &:focus {
      border-color: #5D6D7E;
    }
  }

  /* Field select dropdown options */

  &__select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  
    display: block;
    width: 150px;
    padding: .6em;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 4px;
    color: #000;
    font-size: 1.1rem;
    background-color: #fff;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxNCAxMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMS41IDFMNyA4bDUuNS03IiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlPSIjN2Y3ZjdmIiBmaWxsPSJub25lIi8+PC9zdmc+');
    background-repeat: no-repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
  }

  /* Field date */

  &__date {
    display: inline-block;
    box-sizing: border-box;
    width: 90%;
    padding: .6em;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 4px;
    color: #484848;
    font-size: 1.1rem;
  }
}


/* User view
========================== */


.user {
  &-container {
    width: calc(100vw - 300px);
    height: 100vh;
    float: right;
    display: grid;
    padding: 1.750em;
    grid-template-columns: 50px auto 50px;
    grid-template-rows: 40px auto auto 65px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas: 
    "burger-menu title ."
    ". section-1 ."
    ". section-2 ."
    ". footer .";

    &--fullscreen {
      width: 100vw;
    }

    &__menu {
      grid-area: burger-menu;
      display: flex;
      align-self: stretch;
      justify-self: stretch;
      cursor: pointer;
      opacity: 0;

      &--appear {
        opacity: 1;
      }
    }

    &__banner {
      grid-area: title;
      position: relative;
      border-left: 5px solid $user-title-border-left;
      align-self: center;

      & > h1 {
        height: 100%;
        padding-left: .75em;
        font-size: 2.2rem;
      }
    }

    &__main {
      justify-self: center;
      align-self: center;
      grid-column: 2 / span 1;
      grid-row: 2 / span 2;
    }

    &__section-1 {
      justify-self: center;
      align-self: center;
      grid-area: section-1;
    }

    &__section-2 {
      align-self: center;
      grid-area: section-2;
    }

    &__footer {
      grid-area: footer;
    }
  }

  &-section {
    &__title {
      margin-bottom: .9em;
    }
  }
}


/* Media queries
============================= */

/* 
 * User view with navigation && without burger menu
 * @screen-min: 1100px
 */

@media (min-width: 1100px) {
  .user {
    &-container {
      display: grid;
      grid-template-columns: 20px auto 20px;
      grid-template-rows: 40px auto auto 65px;
      grid-column-gap: 15px;
      grid-row-gap: 15px;
      
      &__banner > h1 {
        height: 100%;
        padding-left: .65em;
        font-size: 1.8rem;
      }
      
      &__menu {
        display: none;
      }
    }
  }
}

/* 
 * User wiew with burger menu
 * @screen-max: 1100px
 */

@media (max-width: 1100px) {
  .user {
    &-container {
      padding: 1em;
      grid-template-areas: 
      "burger-menu title ."
      "section-1 section-1 section-1"
      "section-2 section-2 section-2"
      ". footer .";
      
      &__banner > h1 {
        padding-left: .70em;
        font-size: 2rem;
      }
      
      &__main {
        justify-self: center;
        align-self: center;
        grid-column: 1 / span 3;
        grid-row: 2 / span 2;
      }
      
      &__section-1,
      &__section-2 {
        margin: 0 1em;
      }
    }
  }
}

/* 
 * @screen-max: 600px
 */

@media (max-width: 600px) {
  /* Special case when the button needs a container to be centered */

  .button__container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .user {
    &-container {
      &__banner > h1 {
        padding-left: .65em;
        font-size: 1.6rem;
      }
    }
  }
}
