@import 'src/styles/vars';

#availability {
  width: 80vw;
  min-height: 100vh;
  float: right;
  padding: 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $background-main-color;
  color: $font-color;

  &-banner {
    margin: 0 2em 2em 2em;
  }

  &-banner, &-content, &-button {
    padding-bottom: 2.3em;
  }

  &-main {
    width: 80%;
    margin: auto;
  }

  &-content, &-checkbox {
    text-align: center;
  }
  &-content > h2 {
    font-size: 2em;
  }
  &-checkbox {
    margin: 2em;
  }
  &-buttons {
    display: flex;
    flex-direction: column;
  }
}

.availability-button {
  margin: .8em auto;
  padding: .5em .8em;
  width: fit-content;
  border: none;
  border-radius: 15px;
  background: $button-color;
  color: #fff;
  font-size: 1.5em;
  box-shadow: 0 5px rgba(76, 81, 117, 0.432);

  &--active {
    background: #33FF66;
  }

  &:active {
    box-shadow: 0 5px rgba(76, 81, 117, 0.432);
    transform: translateY(5px);
  }
}


@media (min-width: 601px) and (max-width: 900px) {
  #availability {
    width: 80%;
    float: right;
    height: 100vh;
    padding: 2.5em;

    &-banner {
      margin: 0 2em 2em 2em;
    }

    &-banner, &-content, &-button {
      padding-bottom: 2.3em;
    }
    &-content, &-checkbox {
      text-align: center;
    }
    &-content > h2 {
      font-size: 1em;
    }
    &-checkbox {
      margin-bottom: 2em;
    }
    &-buttons {
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
  } 
}

@media (max-width: 600px) {
  #availability {
    height: 100vh;
    width: 100%;
    padding: 2.5em 2em 2em 2em;
    text-align: center;

    &-banner {
      margin: 0 2em 2em 2em;
    }

    &-banner, &-content, &-button {
      padding-bottom: 2.3em;
    }
    &-content > h2 {
      font-size: 1em;
    }
    &-checkbox {
      margin-bottom: 2em;
    }
  } 
}
