@import 'src/styles/vars';

#navigation {
  min-width: 300px;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  color: $navigation-font-color;
  background-color: $navigation-bg-color;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.2em;
  font-weight: 400;
  box-shadow: 0 0 10px 2px $navigation-border-right-color;
  transition: transform ease-in-out 250ms;
  z-index: 1;

  &-main,
  &-footer {
    display: flex;
    flex-direction: column;
  }

  &-header {
    border-bottom: 2px solid $navigation-separator-color;

    &-user {
      width: 95%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem .5rem;
      float: right;

      &__avatar {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid $navigation-avatar-circle-border-color;
      }

      &__username {
        padding: 0 1em;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 30px;
      }
    }
  }

  &-main {
    &-project {
      padding-left: 1.5em;

      &__title {
        padding: 1em 0 1em 0;
        font-weight: 600;
        font-size: 1.4rem;
      }
    }

    &-projects {
      padding-left: 1.5em;
    }
  }

  &-footer {
    border-top: 2px solid $navigation-separator-color;
    padding: 1.5rem 0;
  }
}

.navigation {
  &__link {
    color: $navigation-font-color;
    padding: .8em;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    
    &:hover,
    &--active {
      cursor: pointer;
      color: $navigation-font-color-hover;
      background-color: $navigation-link-bg-color-hover;
    }
    
    &-project {
      &:hover,
      &--active {
        border-left: 4px solid $navigation-project-link-border-left-hover;
        margin-left: -4px;
        color: $navigation-font-color-hover;
        background-color: $navigation-link-bg-color-hover; 
      }
    }
  }
}

.navigation--close {
  transform: translateX(-110%);
}

.navigation--open {
  transform: translateX(0%);
}


/* Media queries
============================= */


@media (max-width: 1100px) {
  #navigation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em 0 1.6em;
    
    &__button {
      height: 2.5em;
      width: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    
    &-user {
      width: fit-content;
      
      &__username {
        display: none;
      }
    }
  }

  /* Close icon */

  .close-icon,
  .close-icon::after {
    content: '';
    display: block;
    background: $font-color;
    height: 4px;
    width: 2em;
    border-radius: 3px;
  }

  .close-icon {
    transform: rotate(45deg);
  }
  .close-icon::after {
    transform: rotate(-90deg);
  }
}
