@import 'src/styles/vars';

#newproject {
  width: 80vw;
  float: right;
  min-height: 100vh;
  padding: 2.5em;
  background: $background-main-color;
  color: $font-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-banner {
    margin: 0 2em 2em 2em;
  }

  &-form {
    width: 70%;
    min-width:300px;
    max-width: 600px;
    margin: 0 auto 50px;
  }

  #date {
    padding-bottom: 2em;
  }
}

.input, #description-input {
  width: 100%;
}

.input-date {
  width: 35%;
}
