@import 'src/styles/vars';

#newproject {
  width: 80vw;
  float: right;
  min-height: 100vh;
  padding: 2em 5em;
  background: $background-main-color;
  color: $font-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-form {
    width: 70%;
    min-width:300px;
    max-width: 600px;
    margin: 0 auto 50px;
  }
}
