@import 'src/styles/vars';

#profil {
  background: $background-main-color;
  width: 80vw;
  height: 100vh;
  float: right;
  color: $font-color;
  padding: 2em;
  &-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 3em;
  &-avatar, &-username {
    padding-bottom: 2em;
  }
  }
}

@media (max-width: 600px) {
  #profil {
    width: 100%;
    text-align: center;
  }

}
