@import 'src/styles/vars';

#main {
  width: 100%;
  padding-bottom: 20px;
  background-color: $main-bg-color;

  &-banner {
    height: 90vh;
    display: flex;
    background-image: url('https://source.unsplash.com/1600x900/?travel, landscape');
    // background-image: url('../../assets/images/background/jeshoots-com-722888-unsplash.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;

    &-text {
      width: 100%;
      margin-top: 2em;
      text-align: center;
      font-weight: 900;
      font-size: 2.5em;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      // color: $header-bg-color;
      // -webkit-text-stroke: 2px rgba(0, 0, 0, 0.541);
      color: $button-color;
      -webkit-text-stroke: 2px $font-color;
      // color: $font-color;
      // -webkit-text-stroke: 2px white;

      &-title, &-slogan {
        // font-family: Permanent Marker;
        font-family: Lobster;
        // font-family: Kaushan Script;
        letter-spacing: 0.1em;

      }

      &-title {
        font-size: 4rem;
        margin-bottom: .2em;
        
      }

      &-slogan {
        padding-left: 1em;
        font-size: 2em;
        font-weight: 400;
        
      }
    }

    &-graphics {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &-graphics img {
      height: 15%;
    }
  }

  &-fonctionalities {
    height: 85vh;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;

    &-text-up,
    &-img-up,
    &-text-down,
    &-img-down {
      height: 40%;
    }

    // Textes
    &-text-up,
    &-text-down {
      width: 60%;
      min-width: 50px;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      align-items: center;
    }

    &-text-up h2,
    &-text-down h2 {
      width: 100%;
      padding: .4em;
      font-size: 1.5em;
      font-weight: 400;
    }

    // Images
    &-img-up,
    &-img-down {
      width: 30%;
      height: auto;
    }

    &-img-up img,
    &-img-down img {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 900px) {
  #main {
    &-fonctionalities {
      justify-content: center;
      height: auto;

      &-text-up,
      &-img-up,
      &-text-down,
      &-img-down {
        width: 80%;
        margin: 2em;      
      }

      &-img-down {
        order: 1;
      }      
    }
  }
}

// ANIME FOCUS AU CHARGEMENT
.focus-in-contract {
	-webkit-animation: focus-in-contract 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


// ANIME DESCENTE 3D
// .text-pop-up-bottom {
// 	-webkit-animation: text-pop-up-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
// 	        animation: text-pop-up-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
// }

// @-webkit-keyframes text-pop-up-bottom {
//   0% {
//     -webkit-transform: translateY(0);
//             transform: translateY(0);
//     -webkit-transform-origin: 50% 50%;
//             transform-origin: 50% 50%;
//     text-shadow: none;
//   }
//   100% {
//     -webkit-transform: translateY(70px);
//             transform: translateY(70px);
//     -webkit-transform-origin: 50% 50%;
//             transform-origin: 50% 50%;
//     text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
//   }
// }
// @keyframes text-pop-up-bottom {
//   0% {
//     -webkit-transform: translateY(0);
//             transform: translateY(0);
//     -webkit-transform-origin: 50% 50%;
//             transform-origin: 50% 50%;
//     text-shadow: none;
//   }
//   100% {
//     -webkit-transform: translateY(50px);
//             transform: translateY(50px);
//     -webkit-transform-origin: 50% 50%;
//             transform-origin: 50% 50%;
//     text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
//   }
// }

// TRACKIN IN 3D
// .tracking-in-expand-fwd {
// 	-webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
// 	        animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
// }
// /* ----------------------------------------------
//  * Generated by Animista on 2019-3-28 18:28:26
//  * w: http://animista.net, t: @cssanimista
//  * ---------------------------------------------- */

// /**
//  * ----------------------------------------
//  * animation tracking-in-expand-fwd
//  * ----------------------------------------
//  */
//  @-webkit-keyframes tracking-in-expand-fwd {
//   0% {
//     letter-spacing: -0.5em;
//     -webkit-transform: translateZ(-700px);
//             transform: translateZ(-700px);
//     opacity: 0;
//   }
//   40% {
//     opacity: 0.6;
//   }
//   100% {
//     -webkit-transform: translateZ(0);
//             transform: translateZ(0);
//     opacity: 1;
//   }
// }
// @keyframes tracking-in-expand-fwd {
//   0% {
//     letter-spacing: -0.5em;
//     -webkit-transform: translateZ(-700px);
//             transform: translateZ(-700px);
//     opacity: 0;
//   }
//   40% {
//     opacity: 0.6;
//   }
//   100% {
//     -webkit-transform: translateZ(0);
//             transform: translateZ(0);
//     opacity: 1;
//   }
// }

