@import 'src/styles/vars';

@media (min-width: 901px) {
  #navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 20vw;
    height: 100vh;
    font-size: 1.3em;
  
      &-main, &-footer, &-username {
      display: flex;
      padding: 1.5em 0;
      justify-content: space-between;
      }
      &-username{
        border-bottom: solid 1px $navbar-separator-color;
        display: flex;
        align-items: center;
        justify-content: space-around !important;
        color: $navbar-font-color;
      }
      &-footer{
        border-top: solid 1px $navbar-separator-color;
      }
      &-footer, &-main{
        display: flex;
        flex-direction: column;
      }
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  #navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
  }
  #navbar > i {
    font-size: 2em;
  }
}
@media (max-width: 600px) {
  #navbar {
    transform: translateX(-80%);
    width: 50%;
    transition: transform 0.5s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
  }
  #burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: white;
    border-radius: 25px;
    cursor: pointer;
  }
  #burger {
    align-self: flex-end;
    margin-top: 1em;
  }
  #navbar-username-name{
    opacity: 0;
  }
  #navbar-username {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
  }
}

// Animations
.item.nav--active{
  animation-duration: 1s;
  opacity: 1!important;
  animation-name: navLinkFades;
}
.navbar-username-name.navbar-username-name--active{
  animation-duration: 1s;
  opacity: 1!important;
  animation-name: navLinkFades;
}
@keyframes navLinkFades{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}


// All queries
.ui.inverted.menu {
  background-color: $navbar-bg-color;
}
.ui.inverted.menu .item, .ui.inverted.menu .item > a:not(.ui) {
  color: $navbar-font-color;
}
.ui.attached.segment, .ui.segment {
  border: none;
}

#navbar-username-avatar {
  margin-left: .6em;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #33FF66;
}

#navbar-username-name {
  width: 200px;
  text-align: center;
  color: white;
}
