@import 'src/styles/vars';

#navbar {
  background-color: #E1E8EC;
  width: 17vw;
  height: 100vh;
  color: #4C5175;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  padding: 1.3em;
  justify-content: space-between;

    &-main, &-footer, &-username {
    display: flex;
    padding: 1.5em 0;
    justify-content: space-between;
    }
    &-username{
      border-bottom: solid 1px #4C5175;
    }
    &-footer{
      border-top: solid 1px #4C5175;
    }
    &-footer, &-main{
      display: flex;
      flex-direction: column;
    }
}
#deconnexion, #modification, #projects, #new-project {
  display: flex;
  padding-bottom: 1em;
  justify-content: space-between;
}
