@import 'src/styles/vars';

#dates {
  width: calc(100vw - 300px);
  float: right;
  min-height: 100vh;
  padding: 2em 5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $main-bg-color;
  color: $font-color;

  &-banner {
    margin-bottom: 2em;
  }

  &-form {
    text-align: center;
    margin: 1em auto;
    font-size: 1.2em;
    width: 600px;

    &-title {
      margin: 1em auto;
      text-align: left;
    }

    &-errors {
      width: fit-content;
      margin: 1.5em auto;
    }
  }

  &-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 600px;
    height: 50px;
    margin: auto;
  }

  &-suggested {
    text-align: center;
    width: 50%;
    font-size: 1.5em;
    margin: 0.5em auto;
  }
}

.date-input {
  width: 40%;
  margin-right: 2em;
  min-width: 210px !important;
}

.dates-suggested--item {
  background: linear-gradient(to right, #ff5f6d, #ffc371);
  color: $button-text-color;
  font-weight: 600;
  margin: 1em auto;
  padding: .5em;
  width: 350px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-icon {
    &:hover {
      cursor: pointer;
    }
  }
}
