@import 'src/styles/vars';

#dates {
  &-form {

    &__title {
      padding: .5em 0;
      margin: .5em;
      text-align: center;
    }

    &__errors {
      width: fit-content;
      margin: 1.5em auto;
    }

    &__main {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      margin: 1.5em auto;
    }
  }

  &-suggested {
    text-align: center;
    min-height: 300px;
    font-size: 1.5em;
    margin: 0.5em auto;
  }
}

.dates-suggested-item {
  background: linear-gradient(to right, #ff5f6d, #ffc371);
  color: $button-text-color;
  font-weight: 600;
  margin: 1em auto;
  padding: .5em;
  width: 350px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__icon {
    &:hover {
      cursor: pointer;
    }
  }
}


/* Media queries
============================= */

@media (max-width: 600px) {
  #dates {
    &-form {
      &__title {
        font-size: 1.5em;
      }
    }
  }
}


@media (max-width: 900px) {
  #dates-form__main {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .dates-form {
    &__label {
      margin: auto;
    }
     
    &__input {
      margin: .5em auto;
    }
  }
}
