@import 'src/styles/vars';

#newproject {
  &-form {
    width: 450px;
    margin: 2em auto;
  }
}

/* Add participants & Suggest dates view */

#project-created {
  width: fit-content;
  margin: 1em;
  padding: 1em;

  &__title {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 2em;
  }
}

.project-created {
  &__options {
    margin: 1em auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}


/* Media queries
============================= */


/* Mobile + */
@media screen and (max-width: 550px) and (min-width: 400px) {
  #newproject {
    &-form {
      width: 95%;
    }
  }
}

/* Mobile */
@media screen and (max-width: 400px) {
  #newproject {
    &-form {
      width: 95%;
    }
  }
}
