@import 'src/styles/vars';

#newproject {
  &-form {
    width: 550px;
    min-width:300px;
    max-width: 600px;
    margin: 2em auto;

    &__errors {
      margin-bottom: 15px;
    }
  }
}

#project-created {
  width: 70%;
  margin: auto;

  &__title {
    text-align: center;
  }
}

.project-created {
  &__options {
    margin: 3em auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
