@import 'src/styles/vars';

#myprojects {
  width: 80vw;
  float: right;
  min-height: 100vh;
  padding: 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  &-banner {
    margin: 0 2em 2em 2em;
  }
  &-cards {
    padding: 2em;
    display: flex;
    justify-content: center;
  }
  &-create {
    width: fit-content;
    margin: 2em auto 0;
    padding: .8em .4em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4em;

    &:hover {
      border-bottom: 3px solid #000;
      cursor: pointer;
    }
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  #myprojects {
    width: 80%;
    float: right;
    min-height: 100%;
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-banner {
      margin: 2em auto;
    }
    &-cards {
      padding: 2em;
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: 600px) {
  #myprojects {
    width: 100%;
    padding: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-banner {
      margin: 2em auto;
    }
    &-cards {
      padding: 2em;
      display: flex;
      justify-content: center;
    }
  }  
}

#myprojects {
  background: $background-main-color;
  color: $font-color;
}

.card {
  min-height: 200px !important;

  &-title {
    color: black;
  }
}
