@import 'src/styles/vars';

#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'PT Sans', sans-serif;
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 400;
}
