@import 'src/styles/vars';

#loginView {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#login {
  &-form {
    width: 25%;
    min-width: 400px;
    margin: 20px auto;
    padding: 2em;

    &-title {
      margin-bottom: 1em;
      text-align: center;
      font-size: 1.3em;
      font-weight: 700;
    }
    
    &-buttons {
      display: flex;
      justify-content: center;
    }

    &-forgottenPassword {
      display: inherit;
      width: fit-content;
      margin: 1.2em auto;
      color: inherit;
      font-weight: 600;
      font-size: 1.1em;
      &:hover {
        text-decoration: underline;
      }
    }

    &-errors {
      margin-bottom: 15px;
    }

    &:hover {
      box-shadow: 0 0 5px 2px $form-box-shadow-color;
    }
  }
  
  @media (max-width: 900px) {
    &-form {
      width: 80%;
    }
  }

  @media (max-width: 600px) {
    &-form {
      width: 95%;
    }
  }
}
