@import 'src/styles/vars';

#login {
  margin-top: 15em;

  &-form {
    width: 450px;
    margin: 2em auto;

    &-buttons {
      display: flex;
      justify-content: center;
    }
  }
}


/* Media queries
============================= */


/* Mobile + */
@media screen and (max-width: 550px) and (min-width: 400px) {
  #login {
    margin-top: 7em;

    &-form {
      width: 350px;
    }
  }
}

/* Mobile */
@media screen and (max-width: 400px) {
  #login {
    margin-top: 5em;

    &-form {
      width: 290px;
    }
  }
}
