@import 'src/styles/vars';

#suggestions {
  width: 80vw;
  float: right;
  min-height: 100vh;
  padding: 2.5em;
  background: $background-main-color;
  color: $font-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-banner {
    margin: 0 2em 2em 2em;
  }

  &-form {
    width: 60%;
    min-width:300px;
    max-width: 600px;
    margin: 0 auto 50px;

    &-header {
      display: flex;
      justify-content: space-between;
      padding: .8em 0;
      margin-bottom: 1em;
      border-bottom: 1px solid lightgray;

      &-title {
        font-size: 1.2em;
        width: 70%;
      }

      &-options {
        width: 30%;
      }
    }

    &-details {
      width: 60%;
    }

    &-errors {
      margin: 15px 0;
    }
  }

  &-ideas {
    width: 80%;
    margin: auto;

    &-title {
      font-size: 1.5em;
      font-weight: 600;
      margin: 30px 0;
      text-transform: uppercase;
    }

    &-cards {
      margin: 2em 0;
    }
  }
}

.card {
  &:hover {
    box-shadow: 0 0 4px 2px #AEB6BF !important;
  }

  &-fit-content {
    max-height: fit-content;
  }

  &-votes {
    color: black;
    padding: 0 0 .6em;
  }

  &-icons {
     &-heart {
      cursor: pointer;

      &--active {
        color: #FF0000;
      }
    }
  }
}

@media (max-width: 600px) {
  #suggestions {
    padding: 2em 2em 2em 0em;
    &-form {
      &-header {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;

        &-title {
          text-align: center;
        }
      }
    }
  }
}
