// Variables CSS

// Header
$header-bg-color: #E1E8EC;
$nav-link-border-bottom-color: #566573;
$nav-text-color: #000;

// Homepage 
$main-bg-color: #F7F9F9;

// Main
$background-main-color: #F8F9F9;

// Authentification forms
$form-box-shadow-color: #E5E7E9;

// Footer
$footer-bg-color: #E1E8EC;
$footer-text-color: #4C5175;

// Navbar
$navbar-bg-color: #1F618D;
$navbar-font-color: #fff;
$navbar-separator-color: #fff;

// Fonts
$font-color: #000;

// Button color
$button-color: #1F618D80;

// Card
$card-title-color: #000;

// ProjectDetails
$project-dates-bg-color: #EBEDEF;

